.App {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  background-color: #4e95e0;
  height: 150px;
  padding: 10px;
  color: white;
}

.App-header .logo {
  height:130px;
  background-image: url("http://res.cloudinary.com/hallam/image/upload/v1522606777/vault.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.App-header .title {
  font-size: 24px;
}

.App .top {
  display: flex;
  justify-content: space-evenly;
  height: 450px;
}

.display {
  display: flex;
  justify-content: center;
}

.recipeCard {
  width: 600px;
}

.entry {
  color: black;
  text-align: left;
  font-weight: bold;
}

.entry:hover {
  cursor: pointer;
  color: grey;
}

.result {
  color: black;
  text-align: left;
  font-weight: bold;
}

.result:hover{
  cursor: pointer;
  color: grey;
}

.recipeCard .removeRecipe {
  width: 150px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.recipeCard .removeRecipe:hover {
  color: grey;
  cursor: pointer;
}

.recipeCard .saveRecipe {
  width: 150px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.recipeCard .saveRecipe:hover {
  color: grey;
  cursor: pointer;
}

.removeIngredient:hover {
  color: grey;
  cursor: pointer;
}